$body-grad-start: #86CECD;
$body-grad-middle: #F3F3F3;
$body-grad-center: #91eab6;
$body-link: #E95065;
$body-link-hover: #46BDDF;
$body-selection: #52D273;

$header-grad-start: #27AE60;
$header-grad-end: #27AE60;

$nav-bg: #F5F5F5;
$nav-active: #52D273;
$nav-selection: #52D273;

$main-content-bg: #F2F2F2;

$footer-bg: $black;
$footer-text: #47BCDD;
$footer-link: #E55066;
$upper-footer-text: #52D273;
$footer-team-bg: #333333;
$copyright: #E8C74F;
$footer-selection: #4C004C + 150;

$highlight-success: #51C96F;
$highlight-error: #ED4E64;
$highlight-info: #49A7C3;
$highlight-error-bg: #58494C;
$highlight-success-bg: #49564C;
$highlight-info-bg: #495458;