$body-grad-start: #86CECD;
$body-grad-middle: #F3F3F3;
$body-grad-center: #91eab6;

$header-grad-start: #27AE60;
$header-grad-end: #27AE60;

$main-content-bg: #F2F2F2;

$nav-grad-start: #FFFFFF;
$nav-grad-end: #FDFDFD;