$body-grad-start: #F1F1F3;
$body-grad-end: #C2C1C6;

$header-grad-start: #DEDEDE;
$header-grad-end: #838385;

$wrapper-grad-start: #FFFFFF;
$wrapper-grad-end: #D0D0D1;

$nav-grad-start: #FFFFFF;
$nav-grad-end: #FDFDFD;