<div class="lower-footer">
  <div class="col-md-6 col-sm-12 text-left">
    <p>
      Transfluent &copy; {{ site.time | date: '%Y' }}. All rights reserved. Made with love in Jyväskylä, Finland
    </p>
    <div id="twitter">
      <a href="https://twitter.com/transfluent_en" class="twitter-follow-button" data-show-count="false">Follow @transfluent_en</a>
      <script>!function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, "script", "twitter-wjs");</script>
    </div>
  </div>
  <div class="col-md-6 hidden-xs hidden-sm">
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ftransfluent&amp;width=400&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=114329478669702&colorscheme=dark" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:80px;" allowTransparency="true"></iframe>
  </div>
</div>