<div class='search-form'>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="search" class="form-control" placeholder="Search the API" name="apisearch">
  </div>
</div>
<div class='navigation-links'>
  <div>
    <input ng-model='hello'>
    <p>{[ hello ]} World</p>
  </div>
  <ul>
    {% for node in site.pages %}
    {% if node.title != nil and node.url != '/' %}
    {% capture nodediff %}{{ page.url | remove:node.url }}{% endcapture %}
    <li><a {% if nodediff != page.url %}class="active" {% endif %}href="{{ node.url}}">{{ node.title}}</a></li>
    {% endif %}
    {% endfor %}
  </ul> 
</div>