<div class='search-form'>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input type="search" class="form-control" placeholder="Search the API" name="apisearch" ng-model='searchTerm'>
  </div>
</div>

{[ searchTerm ]}

<div class='navigation-links'>
  <ul ng-controller="servicesCtrl"> 
    <li ng-repeat="nav in navs"><a href="/api/{[ nav.Name ]}.html">{[ nav.Name ]}</a></li>   
  </ul>
  <ul ng-controller="securityCtrl"> 
    <li>Authentication</li>
    <li>
      <ul>
        <li ng-repeat="nav in navs"><a href="/api/{[ nav.Name ]}.html">{[ nav.Name ]}</a></li>
      </ul>
    </li>    
  </ul>
  <ul ng-controller="languagesCtrl"> 
    <li>Languages Methods</li>
    <li>
      <ul>
        <li ng-repeat="nav in navs"><a href="/api/{[ nav.Name ]}.html">{[ nav.Name ]}</a></li>
      </ul>
    </li>    
  </ul>
  <ul ng-controller="textCtrl"> 
    <li>Text Methods</li>
    <li>
      <ul>
        <li ng-repeat="nav in navs"><a href="/api/{[ nav.Name ]}.html">{[ nav.Name ]}</a></li>
      </ul>
    </li>    
  </ul>
  <ul ng-controller="fileCtrl"> 
    <li>File Methods</li>
    <li>
      <ul>
        <li ng-repeat="nav in navs"><a href="/api/{[ nav.Name ]}.html">{[ nav.Name ]}</a></li>
      </ul>
    </li>    
  </ul>
</div>