<div ng-if="method.Description" ng-bind-html="method.Description | linebreak | to_trusted"></div>
<div ng-if="method.Code">
{% highlight php %}
{[ method.Code ]}
{% endhighlight %}
</div>
<table class="table table-bordered table-hover table-striped table-responsive" ng-show="method.Method">
  <tr ng-if="method.Method">
    <td>Method</td>
    <td>{[ method.Method ]}</td>
  </tr>
  <tr ng-if="method.URL">
    <td>URL</td>
    <td><a href="{[ method.URL ]}" target="_blank" title="Method link">{[ method.URL ]}</a></td>
  </tr>
  <tr ng-if="method.Parameters">
    <td>Parameters</td>
    <td>
      <span ng-repeat="params in method.Parameters"><a  href="#">{[ params ]}</a>, </span>
    </td>
  </tr>
</table>
<div ng-if="method.Returns">
  <p>Returns:</p>
  <div ng-repeat="returnings in method.Returns">
    <div ng-repeat="okey in returnings.OK">
      <p>With Status OK:</p>
      <div ng-if="okey.GET">
        <p>GET:</p>
        <pre ng-bind="okey.GET" class="success"></pre>
      </div>
      <div ng-if="okey.POST">
        <p>POST:</p>
        <pre ng-bind="okey.POST" class="success"></pre>
      </div>
      <div ng-if="okey.Default">
        <pre ng-bind="okey.Default" class="success"></pre>         
      </div>
    </div>
    <div ng-if="returnings.Error">
      <p>With Status Error:</p>
      <pre ng-bind="returnings.Error" class="error"></pre>
    </div>
    <div ng-if="returnings.Default">
      <pre ng-bind="returnings.Default" class="success"></pre>
    </div>
    <div ng-if="returnings.Other">
      <blockquote ng-bind="returnings.Other" class="info"></blockquote>
    </div>
  </div>
</div>