<div ng-if="method.Description" translate="api-{[method.Name]}-desc"></div>
<table class="table table-bordered table-hover table-striped table-responsive" ng-show="method.Method">
  <tr ng-if="method.Method">
    <td translate="api-method"></td>
    <td>{[ method.Method ]}</td>
  </tr>
  <tr ng-if="method.URL">
    <td translate="api-url"></td>
    <td><a href="{[ method.URL ]}" target="_blank" title="Method link">{[ method.URL ]}</a></td>
  </tr>
  <tr ng-if="method.Parameters">
    <td translate="api-parameters"></td>
    <td>
      <span ng-repeat="params in method.Parameters"><a href="#" ng-click="showDetails = ! showDetails">{[ params.value ]}</a><span ng-if="!$last">, </span>
        <p ng-show="showDetails" class="param-details"><span ng-if="params.optional" class="label label-warning">{[ "optional" | translate ]}<br></span><span translate="api-{{params.translation_key || params.value}}-parameter"></span></p>
      </span>
    </td>
  </tr>
</table>
