/* line 1, ../_sass/layout/_page.scss */
body {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #91eab6), color-stop(50%, #f3f3f3), color-stop(100%, #86cecd));
  background: -webkit-radial-gradient(#91eab6, #f3f3f3, #86cecd);
  background: -moz-radial-gradient(#91eab6, #f3f3f3, #86cecd);
  background: -o-radial-gradient(#91eab6, #f3f3f3, #86cecd);
  background: radial-gradient(#91eab6, #f3f3f3, #86cecd);
}

/* line 16, ../_sass/layout/_page.scss */
.footer {
  background: silver;
}

/* line 20, ../_sass/layout/_page.scss */
.main-content {
  background: #f2f2f2;
  border-radius: 10px;
}

/* line 27, ../_sass/layout/_page.scss */
.navigation {
  border-radius: 10px;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #fdfdfd));
  background: -webkit-linear-gradient(top left, #ffffff, #fdfdfd);
  background: -moz-linear-gradient(top left, #ffffff, #fdfdfd);
  background: -o-linear-gradient(top left, #ffffff, #fdfdfd);
  background: linear-gradient(top left, #ffffff, #fdfdfd);
}
