@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,500,400italic");
/* line 1, ../_sass/utility/_common_utility.scss */
.pad-up-dn-1o, .footer, .upper-footer, .team-footer, .lower-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 1, ../_sass/layout/_footer.scss */
.footer {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 500;
  background: black;
  color: #47bcdd;
  margin-top: 10px;
}
/* line 9, ../_sass/layout/_footer.scss */
.footer a {
  color: #e55066;
}

/* line 17, ../_sass/layout/_footer.scss */
.upper-footer a {
  color: #52d273;
}

/* line 22, ../_sass/layout/_footer.scss */
.team-footer {
  background: #333333;
}

/* line 27, ../_sass/layout/_footer.scss */
.team-members-images {
  max-height: 100px;
  max-width: 100px;
}

/* line 32, ../_sass/layout/_footer.scss */
.lower-footer {
  clear: both;
  color: #e8c74f;
}

/* line 1, ../_sass/layout/_header.scss */
.header {
  margin: 20px;
}

/* line 1, ../_sass/layout/_navigation.scss */
.navigation {
  border-radius: 10px;
  background: whitesmoke;
  font-weight: bolder;
  line-height: 1.75;
}

/* line 8, ../_sass/layout/_navigation.scss */
.search-form {
  margin: 10px;
}

/* line 1, ../_sass/layout/_page.scss */
body {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #91eab6), color-stop(50%, #f3f3f3), color-stop(100%, #86cecd));
  background: -webkit-radial-gradient(#91eab6, #f3f3f3, #86cecd);
  background: -moz-radial-gradient(#91eab6, #f3f3f3, #86cecd);
  background: -o-radial-gradient(#91eab6, #f3f3f3, #86cecd);
  background: radial-gradient(#91eab6, #f3f3f3, #86cecd);
  font-family: "Open Sans", Helvetica, sans-serif;
}
/* line 5, ../_sass/layout/_page.scss */
body a {
  color: #e95065;
}

/* line 10, ../_sass/layout/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, sans-serif;
}

/* line 14, ../_sass/layout/_page.scss */
li {
  list-style: none;
}

/* line 18, ../_sass/layout/_page.scss */
.main-content {
  border-radius: 10px;
}

/* line 22, ../_sass/layout/_page.scss */
.error pre {
  background: #58494c;
  color: #ed4e64;
}

/* line 27, ../_sass/layout/_page.scss */
.success pre {
  background: #49564c;
  color: #51c96f;
}

/* line 32, ../_sass/layout/_page.scss */
.info pre {
  background: #495458;
  color: #49a7c3;
}
