#job_ad_console {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20px;
        padding: 2px;
        font-size: 10px;
        font-family: Terminal, Consolas, monospace;
        background-color: black;
        color: white;
        z-index: 10000;
      }