<!DOCTYPE html>
<html lang="{{$root.language_code || 'en'}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Transfluent API documentation: {{ page.title || 'Home' }}</title>

    <link href="https://fonts.googleapis.com/css?family=Kameron" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css?v2">
    <script src="/js/scripts.js?v4"></script>
  </head>

  <body ng-app="transfluentAPI">
    <div class="container">

      <header class="header" ng-controller="LanguageSelector">
        {% include header.html %}
      </header>

      <div class="content-area row">

        <nav class="navigation col-sm-3 ng-cloak">
          {% include navigation.html %}
        </nav>

        <section class="main-content col-xs-12 col-sm-9 ng-cloak">
          {{ content}}
        </section>
      </div>
    </div>

    <footer class="footer">
      {% include footer.html %}
    </footer>

  </body>
</html>
