.footer {
  font-family: $roboto;
  font-weight: 500;
  background: $footer-bg;
  color: $footer-text;
  margin-top: 10px;
  @extend .pad-up-dn-1o;
  
  a{
    color: $footer-link;
  }
}

.upper-footer {
  @extend .pad-up-dn-1o;
  
  a {
    color: $upper-footer-text;
  }
}

.team-footer {
  background: $footer-team-bg;
  @extend .pad-up-dn-1o;
}

.team-members-images {
  max-height: 100px;
  max-width: 100px;
}

.lower-footer {
  clear: both;
  color: $copyright;
  @extend .pad-up-dn-1o;
}