body {
  @include background(radial-gradient($body-grad-center, $body-grad-middle, $body-grad-start));
}
.wrapper {
  //@include background(radial-gradient($body-grad-center, $body-grad-middle, $body-grad-start));  
}

.header-background {
  //@include background(image-url("top-bg.jpg"));
  //background: red;
  //@include background 
  //@include background(radial-gradient(top left, $header-grad-start, $header-grad-end));
  //@include background(radial-gradient(color-stops(#c00, #00c), top left));
}

.footer {
  background: silver;
}

.main-content {
  background: $main-content-bg;
  border-radius: 10px;
  //@include background(linear-gradient(top left, $wrapper-grad-start, $wrapper-grad-end));
 // @include background(radial-gradient($body-grad-center, $body-grad-middle, $body-grad-start));
}

.navigation {
  border-radius: 10px;
  @include background(linear-gradient(top left, $nav-grad-start, $nav-grad-end));
}

.search-row {
  //background: magenta;
}

.header-logo {
  //@include background(image-url("transfluent-logo.png"));
}